.social-icons {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin-right: 0;

  &__link {
    display: flex;
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
    &--mr {
      margin-right: 36px;
    }
  }

  &--pd-top {
    padding-top: 26px;
    width: 200px;
  }
  &--mr60 {
    margin-right: 60px;
  }
  &--width {
    width: auto;
  }
}

.nav {
  margin-right: 100px;

  &__list {
    display: flex;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-right: 33px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: #4c858b;
  }
  &__link:after {
    background-color: #4c858b;
    display: block;
    content: '';
    height: 2px;
    width: 0%;
    transition: width 0.3s ease-in-out;
  }
  &__link:hover:after {
    width: 100%;
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icon {
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.vk {
  fill: #4c858b;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.vk:hover {
  fill: #30b6c5;
  transition: all 0.3s ease-in-out;
}

.telegram {
  fill: #4c858b;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.telegram:hover {
  fill: #30b6c5;
  transition: all 0.3s ease-in-out;
}

.instagram {
  fill: #4c858b;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}

.instagram:hover {
  fill: #30b6c5;
  transition: all 0.3s ease-in-out;
}

.whatsapp {
  fill: #4c858b;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}

.whatsapp:hover {
  fill: #30b6c5;
  transition: all 0.3s ease-in-out;
}
.orange {
  fill: #ea6628;
}
.orange:hover {
  fill: #ff5202b7;
}
