.social-icons {
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    display: flex;

    &:last-child {
      margin-right: 0;
    }
    &--mr {
      margin-right: 43px;
    }
  }

  &--pd-top {
    padding-top: 30px;
    width: 200px;
  }
  &--mr60 {
    margin-right: 57px;
  }
  &--width {
    width: auto;
  }
}

.nav {
  margin-right: 96px;

  &__list {
    display: flex;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-right: 36px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: #4c858b;
  }
  &__link:after {
    background-color: #4c858b;
    display: block;
    content: '';
    height: 2px;
    width: 0%;
    transition: width 0.3s ease-in-out;
  }
  &__link:hover:after {
    width: 100%;
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;

  &__icon {
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 16px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &--label {
      &:after {
        display: block;
        position: absolute;
        content: '10';

        font-family: Lato, sans-serif;
        color: #fff;
        font-weight: 800;
        font-size: 11px;
        display: flex;
        line-height: 13px;
        border-radius: 50%;

        width: 14px;
        height: 14px;
        padding: 3px;

        top: 0;
        right: 0;
        background: #e33e54;
      }
    }
  }
  &__icon:hover {
    box-shadow: 8px 6px 20px -6px rgba(0, 0, 255, 0.2);
    transition: 0.3s;
  }
}

.vk {
  fill: #4c858b;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.vk:hover {
  fill: #30b6c5;
  transition: all 0.3s ease-in-out;
}

.telegram {
  fill: #4c858b;
  width: 19px;
  height: 19px;
  transition: all 0.3s ease-in-out;
}
.telegram:hover {
  fill: #30b6c5;
  transition: all 0.3s ease-in-out;
}

.instagram {
  fill: #4c858b;
  width: 15px;
  height: 16px;
  transition: all 0.3s ease-in-out;
}

.instagram:hover {
  fill: #30b6c5;
  transition: all 0.3s ease-in-out;
}

.whatsapp {
  fill: #4c858b;
  width: 15px;
  height: 16px;
  transition: all 0.3s ease-in-out;
}

.whatsapp:hover {
  fill: #30b6c5;
  transition: all 0.3s ease-in-out;
}
.orange {
  fill: #ea6628;
}
.orange:hover {
  fill: #ff5202b7;
}

.search {
  width: 22px;
  height: 22px;
  fill: #4c858b;
  stroke-opacity: 0.8;
}

.likes {
  width: 23px;
  height: 20px;
  fill: #e33e54;
}

.cart {
  width: 24px;
  height: 20px;
  position: relative;
}
.cart:after {
  display: block;
  position: absolute;
  content: '1234';
  width: 21px;
  height: 21px;
  background: #e33e54;
}
