- 
  var iconsPaths = [
      {imgPath:"../assets/images/vk.svg",altName:'vk'},
      {imgPath:"../assets/images/telegram.svg",altName:'telegram'},
      {imgPath:"../assets/images/instagram.svg",altName:'instagram'},
      {imgPath:"../assets/images/whatsapp.svg",altName:'whatsapp'}
     ]

mixin socialIcons(padding,margin)
  div(class="social-icons" + " " + padding)
       for i in iconsPaths 
          a(class="social-icons__link" + " " + margin)(href="") 
            img(src=i.imgPath, alt=i.altName)
      




