mixin socialIcons
  div.social-icons
    a.social-icons__link.social-icons__link--mr(href="") 
     img(src="../assets/images/vk.svg", alt="vk")
    a.social-icons__link(href="") 
     img(src="../assets/images/telegram.svg", alt="telegram")
    a.social-icons__link(href="")
     img(src="../assets/images/instagram.svg", alt="instagram")
    a.social-icons__link(href="") 
     img(src="../assets/images/whatsapp.svg", alt="whatsapp")


