- 
  var iconsPaths = [
      {imgPath:"/assets/images/sprite.svg#vk", class:"vk"},
      {imgPath:"/assets/images/sprite.svg#telegram", class:"telegram"},
      {imgPath:"/assets/images/sprite.svg#instagram", class:"instagram"},
      {imgPath:"/assets/images/sprite.svg#whatsapp", class:"whatsapp"},
     ]

mixin socialIcons(padding,margin,orange)
  div(class="social-icons" + " " + padding)
       for i in iconsPaths 
          a(class="social-icons__link" + " " + margin)(href="") 
            svg(class=i.class + " " + orange) 
               use(xlink:href=i.imgPath)
          
  



