section.process.container
 h2.section-title Процесс выполнения монтажа

 div.process__list 
  div.process__column
    p.process__item  Рассчёт предварительной заявки
    p.process__item  Замер объекта нашим инженером
    p.process__item  Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
  div.process__column
    p.process__item  Изготовление Дымохода, покраска (если требуется)
    p.process__item  Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
    p.process__item  Гарантийное обслуживание по соответствующем сроку
