section.process.section-container 
 h2.section-title Процесс выполнения монтажа

 ol.process-list 
  li.process-list__item  Рассчёт предварительной заявки
  li.process-list__item  Замер объекта нашим инженером
  li.process-list__item  Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
  li.process-list__item  Изготовление Дымохода, покраска (если требуется)
  li.process-list__item  Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
  li.process-list__item  Гарантийное обслуживание по соответствующем сроку
  