section.process
 h2.section-title Процесс выполнения монтажа

 div.count-list 
  div.count-list__column
    p.count-list__item  Рассчёт предварительной заявки
    p.count-list__item  Замер объекта нашим инженером
    p.count-list__item  Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
  div.count-list__column
    p.count-list__item  Изготовление Дымохода, покраска (если требуется)
    p.count-list__item  Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
    p.count-list__item  Гарантийное обслуживание по соответствующем сроку
