.process {
  padding-bottom: 7px;
  @media (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
  @media (min-width: 1920px) {
    padding-top: 50px;
  }

  &__list {
    max-width: 1220px;
    list-style-type: none;
    counter-reset: list;

    @media (min-width: 768px) {
      display: flex;
    }
    @media (min-width: 1920px) {
      padding: 30px 0 0 0;
    }
  }
  &__item {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    padding-left: 48px;
    font-weight: 400;
    color: #000000;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      padding-left: 43px;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      height: 40px;
      margin-bottom: 50px;
      max-width: 100%;
    }
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding-left: 80px;
      margin-bottom: 10px;
      height: 81px;
      max-width: 100%;
    }
  }

  &__item:before {
    display: block;

    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #e33e54;
    opacity: 0.2;
    line-height: 50px;

    @media (min-width: 1200px) {
      font-size: 70px;
      line-height: 85px;
    }
  }
}
