.hero {
  max-width: 1220px;
  margin: 0 auto;
  padding-bottom: 60px;
  &__content {
    display: flex;
  }

  &__content-block {
    max-width: 600px;
  }
  &__img-wrapper {
    position: relative;
    padding-bottom: 20px;
  }
  &__img {
    position: absolute;
    top: -30px;
  }
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
  &--red {
    margin: 0;
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
    text-transform: uppercase;
    color: #e33e54;
  }
}
.section-title {
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 63px;
  color: #000000;
}
.breadcrumbs {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  padding: 15px 0;
  margin-bottom: 30px;

  &__item {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-right: 20px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item:before {
    content: url('../../assets/images/breadcrumbs-arrow.svg');
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    right: -12px;
  }
  &__item:last-child:before {
    content: '';
  }

  &__link {
    text-decoration: none;
    color: #b1b1b1;

    &.active {
      color: #4c858b;
    }
  }
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;

  span {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #e33e54;
  }
}

.list {
  padding-left: 30px;
  margin-top: 40px;

  &__item {
    list-style-type: none;
    padding-bottom: 30px;
    padding-left: 25px;
    position: relative;
  }
  &__item:before {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    left: 0;
    top: 4px;
    background: #ea6628;
    border-radius: 50%;
    display: inline-block;
  }
}
