.hero {
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 30px;

  &__content {
    display: flex;
  }

  &__content-block {
    max-width: 600px;
  }

  &__list {
    padding-left: 33px;
    margin-top: 40px;
  }
  &__item {
    list-style-type: none;
    padding-bottom: 30px;
    padding-left: 25px;
    position: relative;
    line-height: 1.2;
  }
  &__item:before {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    left: 0;
    top: 4px;
    background: #ea6628;
    border-radius: 50%;
    display: inline-block;
  }

  &__img-wrapper {
    position: relative;
    padding-bottom: 20px;
  }
  &__img {
    position: absolute;
    top: -30px;
    left: 18px;
  }
}

.breadcrumbs {
  width: 100%;
  padding: 15px 0;
  margin: 30px 0;
  margin-top: 37px;
  list-style-type: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;

  &__item {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-right: 20px;
    position: relative;
    letter-spacing: 0.3px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__item:before {
    content: url('../../assets/images/breadcrumbs-arrow.svg');
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    right: -12px;
  }
  &__item:last-child:before {
    content: '';
  }

  &__link {
    text-decoration: none;
    color: #b1b1b1;

    &--active {
      color: #4c858b;
    }
  }
}
