extends ../layouts/default
block variables
  - var title = 'Дымоход'


 
block content
  include ../../components/hero/hero
  include ../../components/process/process
  include ../../components/benefits/benefits
  include ../../components/consult/consult
  include ../../components/video/video
  include ../../components/gallery/gallery
   
