extends ../layouts/default

block variables

block content
  include ../../components/hero/hero
  include ../../components/process/process
  include ../../components/features/features
  include ../../components/consult/consult
  include ../../components/video/video
  