.header {
  max-width: 1785px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;

  &__logo {
    display: inline-block;
    cursor: pointer;
    margin-right: 52px;
  }
  &__menu {
    display: flex;
    align-items: center;
    width: 56px;
    height: 56px;
    margin-right: 31px;
  }
  &__menu-burger {
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px solid #4c858b;
    border-radius: 50%;
    cursor: pointer;
  }
}

.popup {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ae2236;
  cursor: pointer;
  margin-right: 64px;
  transition: all 0.3s ease-in-out;
}
.popup:hover {
  color: #e42844;
  transition: all 0.3s ease-in-out;
}
.popup:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px dashed #ae2236;
  transition: all 0.3s ease-in-out;
}
.popup:hover:after {
  border-bottom: 1px dashed #e42844;
  transition: all 0.3s ease-in-out;
}
.tel {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin-right: 72px;
  letter-spacing: 1.2px;
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #4c858b;
  }
}
.menu {
  width: 22px;
  height: 22px;
  fill: #4c858b;
}
