.header {
  max-width: 1820px;
  margin: 0 auto;
  padding: 20px 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 1920px) {
    justify-content: flex-start;
  }

  &__content {
    display: contents;
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo {
    display: inline-block;
    cursor: pointer;

    @media (min-width: 1920px) {
      margin-right: 52px;
    }
    img {
      width: 48px;
      height: 47px;

      @media (min-width: 768px) {
        width: 64px;
        height: 62px;
      }
      @media (min-width: 1920px) {
        width: 100px;
        height: 97px;
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    order: 2;

    @media (min-width: 1920px) {
      order: 0;
      margin-right: 31px;
    }
  }
  &__menu-burger {
    display: flex;
    justify-content: center;
    padding: 12px;
    border: 1px solid #4c858b;
    border-radius: 50%;
    cursor: pointer;
    @media (min-width: 768px) {
      padding: 15px;
    }
  }

  position: relative;
}
.header:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  @media (min-width: 768px) {
    width: 96%;
  }
  @media (min-width: 1200px) {
    border: none;
  }
}

.popup {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ae2236;
  cursor: pointer;
  margin-right: 64px;
  transition: all 0.3s ease-in-out;
  display: none;

  @media (min-width: 1920px) {
    display: block;
  }
}
.popup:hover {
  color: #e42844;
  transition: all 0.3s ease-in-out;
}
.popup:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px dashed #ae2236;
  transition: all 0.3s ease-in-out;
}
.popup:hover:after {
  border-bottom: 1px dashed #e42844;
  transition: all 0.3s ease-in-out;
}
.tel {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin-right: 72px;
  letter-spacing: 1.2px;
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #4c858b;
  }
  display: none;

  @media (min-width: 1920px) {
    display: block;
    margin-left: 57px;
  }
}
.menu {
  width: 18px;
  height: 18px;
  fill: #4c858b;

  @media (min-width: 768px) {
    width: 22px;
    height: 22px;
  }
}
.hide {
  display: none;
  @media (min-width: 1920px) {
    display: block;
  }
}
