include ../../views/helpers/mixins
header.header 
  a.header__logo
   img(src="../assets/images/logo.svg", alt="logo")

  div.header-left
    div.header-left__burger-menu
     img(src="../../assets/images/menu.svg", alt="")

    nav
      ul.nav
        li.nav__item
          a(href="").nav__link Каталог товаров
        li.nav__item 
          a(href="").nav__link Доставка и оплата
        li.nav__item 
          a(href="").nav__link Цены
        li.nav__item
          a(href="").nav__link Контакты
  
  a.tel(href="tel:+8495234-22-44" class="tel") <span>+7 (812)</span> 509 21 98

  div.popap Перезвоните мне
 
  +socialIcons    
 
  div.header-right
    div.header-right__icon 
     img(src="../../assets/images/search.svg", alt="search")
    div.header-right__icon 
     img(src="../../assets/images/likes.svg", alt="likes")
    div.header-right__icon
     img(src="../../assets/images/cart.svg", alt="cart") 