include ../../views/helpers/mixins
- 
  var navLinks = [
      { link: '#', name: 'Каталог товаров' },
      { link: '#', name: 'Доставка и оплата' },
      { link: '#', name: 'Цены' },
      { link: '#', name: 'Контакты' },
      ]

- 
  var groupIcons = [
      { pathName: '../../assets/images/search.svg', altName: 'search' },
      { pathName: '../../assets/images/likes.svg', altName: 'likes' },
      { pathName: '../../assets/images/cart.svg', altName: 'cart' },
      ];

header.header 
  a.header__logo
   img(src="../assets/images/logo.svg", alt="logo")

  div.header__menu
    div.header__menu-burger
     img(src="../../assets/images/menu.svg", alt="")

  nav.nav
    ul.nav__list
     for i in navLinks
       li.nav__item
         a(href=i.link).nav__link=i.name


  a.tel(href="tel:+8495234-22-44" class="tel") 
   <span>+7 (812)</span> 509 21 98

  div.popap Перезвоните мне
 
  +socialIcons    
 
  div.group
    for i in groupIcons
      div.group__icon 
        img(src=i.pathName, alt=i.altName)
    