include ../../views/helpers/mixins
block variables


header.header 
  a.header__logo
   img(src="../assets/images/logo.svg", alt="logo")
  div.header__content
    div.header__menu
      div.header__menu-burger
        svg(class="menu")
          use(xlink:href="assets/images/sprite.svg#menu")
  

    nav.nav
     ul.nav__list
      for i in navLinks
        li.nav__item
          a(href=i.link).nav__link=i.name

    a.tel(href="tel:+78125092198") <span>+7 (812)</span> 509 21 98

    div.popup Перезвоните мне
  
    +socialIcons("social-icons--mr60","hide")    
      
  
    div.group
      for i in groupIcons
        div(class="group__icon" + " " + i.modifier)
            svg(class=i.class) 
              use(xlink:href=i.pathName)
          
    