section.features
 h2.section-title Почему Дымоход.ру?
 p.subtitle В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»

 div.card
   div.card__item 
    img.card__img(src="../assets/images/warranty.svg", alt="warranty")
    h3.card__title Большой гарантийный срок
    p.card__subtitle Крепёж, стыковка элементов – <span>10 лет</span>
    p.card__subtitle Сквозная коррозия труб –  <span>5 лет</span>
    p.card__subtitle Гидроизоляция –  <span>3 года</span>
   
   div.card__item 
    img.card__img(src="../assets/images/help.svg", alt="help")
    h3.card__title Помощь в покупке агрегата 
    p.card__subtitle  (печи, камина, котла), а также качественной 
    p.card__subtitle   установке на объекте с последующим
    p.card__subtitle гарантийным сервисом


   div.card__item 
    img.card__img(src="../assets/images/review.svg", alt="review")
    h3.card__title Реальные отзывы клиентов
    p.card__subtitle Убедитесь в добросовестности исполнения,
    p.card__subtitle прочитав Отзывы клиентов в специальном
    p.card__subtitle разделе.