.consult {
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding: 53px 0 30px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0 42px 0;
}

.form {
  max-width: 865px;
  margin: 0 auto;
  padding: 60px 52px 60px 55px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  text-align: left;
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    letter-spacing: 0.1px;
    padding-left: 5px;
    margin-top: -4px;
    margin-bottom: 19px;

    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      color: #ea6628;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-left: 5px;
  }
  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-left: 6px;
  }

  &__input {
    width: 240px;
    padding: 20px 0px;
    color: #b1b1b1;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    padding-left: 17px;
    outline: none;
    letter-spacing: 1px;
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;

    outline: none;
    border: none;
    width: 240px;
    padding: 18px 0px;
    background: #215359;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
  }
  &__button:hover {
    background: #248d98;
    transition: all 0.3s ease-in-out;
  }
}
