section.consult
  h1.title.title--m0 необходима консультация?
  p.subtitle.subtitle--pd оставьте заявку или свяжитесь с нами в социальных сетях
  
  div.wrapper
   include ../../views/helpers/mixins
   +socialIcons("social-icons--width",'social-icons__link--mr',"orange")

   
  form.form(action="/") 
   h4.form__title Для <span>консультации</span> заполните форму!
   p.form__subtitle С вами свяжутся в ближайшее время
   div.form__input-wrapper
    input.form__input(type="text" placeholder="Ваше имя")
    input.form__input(type="text" placeholder="Ваш телефон")
    button.form__button(type="submit") отправить