section.benefits
 h2.section-title Почему Дымоход.ру?
 div.subtitle-wrapper
  p.subtitle В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
 
 div.benefits__list
   div.benefits__item
    svg(class="warranty")
     use(xlink:href="assets/images/sprite.svg#warranty")
    h3.benefits__item-title Большой гарантийный срок
    p.benefits__item-subtitle Крепёж, стыковка элементов – <span>10 лет</span>
    p.benefits__item-subtitle Сквозная коррозия труб –  <span>5 лет</span>
    p.benefits__item-subtitle Гидроизоляция –  <span>3 года</span>
   
   div.benefits__item.benefits__item--ml61 
    svg(class="help")
      use(xlink:href="assets/images/sprite.svg#help")
    h3.benefits__item-title Помощь в покупке агрегата 
    p.benefits__item-subtitle  (печи, камина, котла), а также качественной 
    p.benefits__item-subtitle установке на объекте с последующим
    p.benefits__item-subtitle гарантийным сервисом


   div.benefits__item 
    svg(class="review")
     use(xlink:href="assets/images/sprite.svg#review")
    h3.benefits__item-title Реальные отзывы клиентов
    p.benefits__item-subtitle  Убедитесь в добросовестности исполнения,
    p.benefits__item-subtitle  прочитав Отзывы клиентов в специальном
    p.benefits__item-subtitle  разделе.